#container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .product-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .product-price {
    font-size: 16px;
    color: green;
  }